<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript" src="/scripts/primus.js"></script>
        <script type="text/javascript"
                src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothie/1.27.0/smoothie.min.js"></script>
        <script type="text/javascript" src="/scripts/xmpp.js"></script>
        <title>Just another boring static site?</title>
    </head>
    <body>
    <div id="container">
        <h1>Just another boring static site?</h1>
        <p>Its a fact that 99.183% of users find static websites boring and wished they have some realtime updates*</p>
        <canvas id="chart" width="600" height="100"></canvas>
        <p><em>* especially when driven by open-standards based federated systems.</em></p>

    </div>
    </body>
</html>
